@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Message"]</h1> @* Menampilkan data dari Controller *@
    <p>Pelajari tentang <a href="https://learn.microsoft.com/aspnet/core">membangun web aplikasi menggunakan ASP.NET Core</a>.</p>
</div>
