@model latihan2.Models.Course

@{
    ViewData["Title"] = "Tambah Course Baru";
}

<h2>Tambah Course Baru</h2>
<hr />

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="StudentId" class="control-label">Pilih Siswa</label>
        <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
    </div>
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <h2></h2>
    <button type="submit" class="btn btn-primary">Simpan</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}