<nav>
    <ul>
        <li><a asp-controller="Home" asp-action="Index">Beranda</a></li>
        <li><a asp-controller="Book" asp-action="Index">Book</a></li>
        <li><a asp-controller="Student" asp-action="Create">Student</a></li>
    </ul>
</nav>